{% load i18n %}{% autoescape off %}
Здравствуйте!

Вы запросили сброс пароля для вашего аккаунта на сайте Lexicon.

Пожалуйста, перейдите по следующей ссылке, чтобы создать новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.

Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый пароль.

С уважением,
Команда Lexicon
{% endautoescape %}



